button{
    background: none;
    border: 2px solid #fff;
    padding: 6px 12px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;


    font-size: 30px;
    margin-top: 2rem;
}

button:hover{
    background-color: rgb(239, 224, 253);
    color: #fff;
}

h1{
    
    font-size: 50px;
    font-style: oblique;
}

.card-grid{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.card{
    position: relative;
}

.card img{
    width: 100%;
    display: block;
    border: 2px solid #fff;
    border-radius: 2px;
    max-height: 200px;
}

.card .front{
    transform: rotateY(90deg);
    position: absolute;
}

.flipped .front{
    transform: rotateY(0deg);
}