.container{
    min-height: 100vh;
    background-color:azure;
}

.question{
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    
}

button{
    text-decoration: none;
    margin: 1rem;
    border: 1px solid black;
    width: 2.5rem;
    height: 2.5rem;
}

button:hover{
    background-color:cornsilk;
}

.header{
    font-size: 2rem;
}

.panel{
    margin: 2rem;
    display: flex;
    justify-content: space-evenly;
}

textarea{
    background-color:cornsilk;
}